
AstralChartGame/AstralChartGame/obj/x64/Debug/App.g.i.cs

AstralChartGame/AstralChartGame/obj/x64/Debug/App.g.cs

AstralChartGame/AstralChartGame/obj/x64/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs

AstralChartGame/AstralChartGame/obj/x64/Debug/Stages/Lev4.g.i.cs

AstralChartGame/AstralChartGame/obj/x64/Debug/Stages/Lev5.g.i.cs

AstralChartGame/AstralChartGame/obj/x64/Debug/Stages/Lev6.g.i.cs
